[include]
	path = ~/.gitconfig.local
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[alias]
  hide = update-index --assume-unchanged
  unhide = update-index --no-assume-unchanged
  hidden = ! git ls-files -v | grep '^h' | cut -c3-
  tree = log --all --graph --decorate --oneline
